<div class="header">
    <div class="header__slide-content">
        {% include "components/logo/_logo.twig" with {mod: 'header__logo'}%}

        <div class="header__burger-trigger">
            {% include "components/hamburger-icon/_hamburger-icon.twig" %}
        </div>
    </div>
    <div class="header__menu">
        <div class="header__navigation">
            <div class="popup-menu header__link-wrap">
                <div class="header__link header__link--active header__link--hover popup-menu__trigger">Home</div>
            </div>
            <div class="popup-menu header__link-wrap">
                <div class="header__link accordeon__title popup-menu__trigger">Company</div>

                <ul class="header__submenu accordeon__content popup-menu__content">
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Overview</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">About us</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Version & Mission</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Company History</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Management</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Meldepflichtige Wertpapiergeschäfte</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Advisory Board</a>
                    </li>
                </ul>
            </div>

            <div class="popup-menu header__link-wrap">
                <div class="header__link accordeon__title popup-menu__trigger">Portfolio</div>

                <ul class="header__submenu accordeon__content popup-menu__content">
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Overview</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">About us</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Version & Mission</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Company History</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Management</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Supervisory Board</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Advisory Board</a>
                    </li>
                </ul>
            </div>

            <div class="popup-menu header__link-wrap">
                <div class="header__link accordeon__title popup-menu__trigger">Investor relations</div>

                <ul class="header__submenu accordeon__content popup-menu__content">
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Overview</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">About us</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Version & Mission</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Company History</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Management</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Supervisory Board</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Advisory Board</a>
                    </li>
                </ul>
            </div>

            <div class="popup-menu header__link-wrap">
                <div class="header__link accordeon__title popup-menu__trigger">News</div>

                <ul class="header__submenu accordeon__content popup-menu__content">
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Overview</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">About us</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Version & Mission</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Company History</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Management</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Supervisory Board</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Advisory Board</a>
                    </li>
                </ul>
            </div>

            <div class="popup-menu header__link-wrap">
                <div class="header__link accordeon__title popup-menu__trigger">Career</div>

                <ul class="header__submenu accordeon__content popup-menu__content">
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Overview</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">About us</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Version & Mission</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Company History</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Management</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Supervisory Board</a>
                    </li>
                    <li class="popup-menu__submenu-wrapper">
                        <a href="#" class="popup-menu__submenu header__submenu-link">Advisory Board</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="header__switch">
            {% include "components/language/_language.twig" %}
            <a href="#" class="header__search">
                <img src="/img/content-items/header/search-icon.svg" alt="">
            </a>
        </div>

    </div>
    {% include "components/stock-widget/_stock-widget.twig" %}

</div>