.popup-menu {
  &__submenu-wrapper {
    &:first-of-type {
      margin-top: 8px;
    }

    &:last-of-type {
      margin-bottom: 4px;
    }
  }

  &__content {
    @media #{$m-tablet--wide} {
      opacity: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      top: -17px;
      display: none;
      background-color: #ebf0fa;
      width: 208px;
      z-index: 6;
      padding-top: 85px;
      margin-left: -(208px / 2);
      left: 50%;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      transition: opacity 0.4s ease;
    }

    @media #{$m-desktop} {
      width: 224px;
      margin-left: -(224px / 2);
    }
  }

  &__submenu {
    @media #{$m-tablet--wide} {
      color: $c_dark-blue;
      font-size: 13px;
      font-weight: normal;
      text-transform: initial;
      width: 100%;
      display: block;
      padding: 6px 16px;
      line-height: 16px;

      &:hover {
        background: #fff;
      }
    }

    @media #{$m-desktop} {
      font-size: 15px;
    }
  }

  @media #{$m-tablet--wide} {
    position: relative;

    $this: &;

    &:hover > #{$this}__content {
      display: flex;
      animation: opacity 0.6s forwards;
      box-shadow: 0px 0px 48px 0px rgba($c_dark-blue, 0.05);
    }

    &__title {
    }

    &__trigger {
      position: relative;
      z-index: 8;
    }

    &__submenu-wrapper {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0 12px;
      margin-bottom: 4px;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 4px;
      }
    }
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
