<div class="footer">
    <div class="center">
        <div class="footer-navigation">
            <div class="item">
                <div class="title accordeon__title">Company</div>
                <ul class="accordeon__content">
                    <li>Overview</li>
                    <li>About us</li>
                    <li>Version & Mission</li>
                    <li>Company History</li>
                    <li>Management</li>
                    <li>Supervisory Board</li>
                    <li>Advisory Board</li>
                </ul>
            </div>

            <div class="item">
                <div class="title accordeon__title">News</div>
                <ul class="accordeon__content">
                    <li>Press Releases</li>
                </ul>
            </div>

            <div class="item">
                <div class="title accordeon__title">Biosimilars</div>
                <ul class="accordeon__content">
                    <li>What are Biosimilars</li>
                    <li>Our Pioneering Role</li>
                    <li>Sources</li>
                </ul>
            </div>

            <div class="item">
                <div class="title accordeon__title">Portfolio</div>
                <ul class="accordeon__content">
                    <li>Overview</li>
                    <li>Pipeline</li>
                    <li>FYB201</li>
                    <li>FYB202</li>
                    <li>FYB203</li>
                </ul>
            </div>

            <div class="item">
                <div class="title accordeon__title">Investor Relations</div>
                <ul class="accordeon__content">
                    <li>Overview</li>
                    <li>Stock</li>
                    <li>Financial Reports</li>
                    <li>Factsheet</li>
                    <li>Calendar</li>
                    <li>Annual General Meeting</li>
                </ul>
            </div>

            <div class="item">
                <div class="title accordeon__title">Career</div>
                <ul class="accordeon__content">
                    <li>Our Benefits</li>
                    <li>Job Offers</li>
                </ul>
            </div>

            <div class="item">
                <div class="title accordeon__title">Contacts Us</div>
                <ul class="accordeon__content">
                    <li>Location & Derections</li>
                    <li>Press Information</li>
                    <li>Investor Rrelations</li>
                </ul>
            </div>
        </div>
    </div>
</div>