// Color
$c_yellow: #ffd700;
$c_blue: #233c91;
$c_dark-blue: #1e2d37;

$path-fonts: "../fonts/";

$m-mobile--wide: "(min-width: 375px)";
$m-tablet: "(min-width: 768px)";
$m-tablet--wide: "(min-width: 1024px)";
$m-desktop: "(min-width: 1280px)";
$m-desktop--wide: "(min-width: 1920px)";

$m-till-tablet--wide: "(max-width: 1023px)";
